html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

main {
  background-image: url('../img/fondo-pag-speciali.jpg');
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: lightgrey;
    transition: 0.2s;
  }
}

.links {
  margin-bottom: 30px;
}

.m-b-md {
  margin-bottom: 30px;
}
.prodotti {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  h1 {
      margin-left: 20px;
      text-transform: uppercase;
      padding: 20px;
      background-color: rgba($color: black, $alpha: 0.2);
      color: white;
  }
}
.tipologia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prodotto:hover {
  filter: grayscale(100%);
  transition: 0.2s;
}
.prodotti a {
    margin: 20px;
}

img {
  max-height: 250px;
}